html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    text-align: center;
}
body{
    overflow: hidden;
}
main,
section{
    width: 100%;
    height: 100%;
    background: #E2695B;
}
#section_1>div{
    width: 100%;
    height:100%;
}
#bg1 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85%;
    position: absolute;
    z-index: 4;
    background-image: url(../img/bg1.png);
}

#bg2 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85%;
    position: absolute;
    z-index: 7;
    text-indent: -9999px;
    background-image: url("../img/bg2_s.svg");
}

#bg3 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85%;
    position: absolute;
    z-index: 6;
    background-image: url("../img/bg3_s.svg");
}

#bg4 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85%;
    position: absolute;
    z-index: 5;
    text-indent: -9999px;
    background-image: url("../img/bg4.svg");
}



#section_2>div{
    width: 100%;
    height: 100%;
}
#section_2 h4{
    display: none;
  }
#section_2 .t_table{
    display: table;
    font-size: 2rem;
    color: #ffffff;
    letter-spacing :0.05rem;
    line-height: 3rem;
    width: 68%;
    margin: 0 auto;
}
#section_2 .t_cell{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    position: relative;
    opacity: 0;
    top: 0px;
}
.is_type{
    display: inline;
}
