html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    text-align: center;
}
body{
    overflow: hidden;
}
main,
section{
    width: 100%;
    height: 100%;
    background: #E2695B;
}
#section_1>div{
    width: 100%;
    height:100%;
}
#bg1 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85%;
    position: absolute;
    z-index: 4;
    background-image: url(../img/bg1.png);
}

#bg2 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85%;
    position: absolute;
    z-index: 7;
    text-indent: -9999px;
    background-image: url("../img/bg2_s.svg");
}

#bg3 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85%;
    position: absolute;
    z-index: 6;
    background-image: url("../img/bg3_s.svg");
}

#bg4 {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 85%;
    position: absolute;
    z-index: 5;
    text-indent: -9999px;
    background-image: url("../img/bg4.svg");
}

