html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main{
  width: 780px;
  /* background: gray; */
  margin: 0 auto;
}
.main>header{
  text-align: center;
}
.main>header img{
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main>nav{
  border-top: 1px solid #8a8000;
  border-bottom: 1px solid #8a8000;
  margin-bottom: 20px
}
.main>nav>ul>li{
  display: inline-block;
  width: 32%;
  text-align: center;
  height: 60px;
  line-height: 60px;
}
.main>nav>ul>li>a.nav_item{
  text-decoration: none;
  font-size: 22px;
  display: block;
}

.main>.content img{
  width: 100%;
}

