@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;500;900&display=swap');

/* @font-face {
font-family: 'AbelRegular';
      src: url('fonts/abel-regular-webfont.eot');
      src: url('fonts/abel-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/abel-regular-webfont.woff') format('woff'),  url('fonts/abel-regular-webfont.ttf') format('truetype'),  url('fonts/abel-regular-webfont.svg#AbelRegular') format('svg');
} */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body{
  /* font-family: "AbelRegular" , serif; */
  font-family: 'Noto Sans TC','Microsoft JhengHei', sans-serif;
  font-weight: 500;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main{
  width: 780px;
  /* background: gray; */
  margin: 0 auto;
}
.main>header{
  text-align: center;
}
.main>header img{
  width: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main>nav{
  border-top: 1px solid #8a8000;
  border-bottom: 1px solid #8a8000;
  margin-bottom: 20px
}
.main>nav>ul>li{
  display: inline-block;
  width: 25%;
  text-align: center;
  height: 60px;
  line-height: 60px;
  margin-right: -4px;
}
.main>nav>ul>li>a.nav_item{
  text-decoration: none;
  font-size: 22px;
  display: block;
  font-weight: 500;
}
.main>nav>ul>li>a.nav_item:hover{
  background-color: #dcdddd;
}
/* .main>nav>ul>li>a.nav_item:hover .nav_text{
  color: red;
} */
.nav_text{
  color: #000;
}
.nav_text_en{
  color: #8a8000;
}

.main>.content img{
  width: 100%;
  margin-bottom: 30px;
  /* border-radius: 5px; */
}

